@import "tailwindcss";

@theme {
    /* Font */
    --font-default: 'Inter';

    /* Common */
    --color-background: #020617;
    --color-navbar: rgba(15, 23, 42, 0.5);
    
    /* Auth */
    --color-auth-border: #3B82F6;
    --color-auth-background: #1E293B;
    --color-auth-btn: #D9D9D9;
}

body {
    background-color: var(--color-background);
}